################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Mml2WavApp/x64/Debug
/x64/Debug
/Mml2WavApp/RCa11316
/Mml2WavApp/RCb11316
/Mml2WavApp/x64/Release
/x64/Release
/Mml2WavApp/Mml2WavApp.vcxproj.user
/Mml2WavApp/Mml2WavApp.aps
